:root {
  --color-primary: #71378b;

  --color-white: #ffffff;
  --color-gray-light: #eeeeee;
  --color-gray: #cccccc;
  --color-gray-dark: #777777;
  --color-black: #1d1d1d;
  --color-secondary: #3a1d47;

  --color-success: #01bd78;

  --color-error: #d40019;
}
